<div matDialogTitle>
  Ajout d'une consommation
</div>
<div>

  <form [formGroup]="form">

    <mat-form-field>
      <mat-label>Libellé</mat-label>
      <input matInput placeholder="Libellé" formControlName="libelle">
    </mat-form-field>


    <mat-form-field>
      <mat-label>Prix unitaire</mat-label>
      <input type="number" matInput placeholder="Prix unitaire" formControlName="prixUnitaire">
    </mat-form-field>

  </form>

</div>
<div matDialogActions align="end">
  <button mat-raised-button color="primary" (click)="save(form.value)">Enregistrer</button>
  <button mat-raised-button color="accent" matDialogClose>Annuler</button>
</div>
